.warning-center-box {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 1px 1px 5px 0 rgba(133, 133, 133, 0.32);
  border-radius: 4px;
  .warning-center-box-wrap {
    padding: 0 10px;
    height: 100%;
    .center-box-header {
      height: 55px;
      line-height: 55px;
      .header-left {
        float: left;
        span {
          float: left;
        }
        span:first-child, span:last-child {
          cursor: pointer;
        }
        h3 {
          font-weight: normal;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          color: #a4a4a4;
          &:before {
            content: ' ';
            display: inline-block;
            background: rgba(15, 115, 208, 0.6);
            margin-right: 10px;
            float: left;
            width: 4px;
            height: 14px;
            border-radius: 1px;
            margin-top: 20px;
          }
          .vertical-line {
            display: block;
            float: left;
            width: 2px;
            height: 14px;
            background-color: #a4a4a4;
            border-radius: 1px;
            margin-top: 20px;
            margin-left: 8px;
            margin-right: 8px;
          }
          .active {
            color: #000000;
          }
        }
      }
      .header-right {
        float: right;
        div {
          float: left;
          .el-button.is-plain {
            padding: 6px 8px;
            border: 1px solid #c8c8c8;
            span {
              font-family: SimSun;
              font-size: 12px;
              color: #000000;
            }
            &:hover {
              border: 1px solid #0f73d0;
              span {
                color: #0f73d0;
              }
            }
          }
          .activeBtn {
            border: 1px solid #0f73d0 !important;
            span {
              color: #0f73d0 !important;
            }
          }
        }
      }
    }
    .center-box-echarts {
      height: calc(100% - 75px);
      .echarts-left {
        width: 100%;
        height: 100%;
        float: left;
        .echarts-qsfx, .echarts-qhtj {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
