$color: SimSun;
@mixin uls {
  ul{
    overflow: hidden;
    background: #fff;
    li{
      height: 32px;
      line-height: 32px;
      margin: 0 10px;
      padding-left: 20px;
      font-size: 12px;
      color: #333333;
      font-family: $color;
      cursor: pointer;
      &:hover{
        background-color: rgba(27, 157, 232, 0.1);
        color: #1b9de8;
      }
    }
  }
}
.searPanel{
  display: flex;
  align-items: center;
}
.cxStyle{
  height: 42px;
  line-height: 42px;
}
.cxmbStyle{
  height: calc(100% - 20px);
  line-height: normal;
  box-shadow: 2px 2px 5px rgba(133, 133, 133, 0.32)!important;
}
.searPanelIns{
  width: 310px;
  border: 0;
  height: 42px;
  padding-left: 15px;
  font-family: $color;
  font-size: 12px;
}
.lines{
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: rgba(88, 88, 88, 0.2);
}
.liebiaoIcon{
  font-size: 30px;
  margin-left: 6px;
  color: #999999;
  cursor: pointer;
}
.srPanel{
  margin-top: 10px;
  max-height: calc(100% - 70px);
  z-index: 9999;
  @include uls;
}
.srpanelBox{
  background: #fff;
  margin-top: 10px;
  .listTypeXzqh{
    margin: 0px 30px;
    .xzqhName{
      height: 41px;
      line-height: 42px;
      border-bottom: 1px dashed #dcdcdc;
      padding-left: 28px;
    }
    .xzqhBox{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 10px 0;
      .cityBox{
        width: calc(100% / 3);
        text-align: center;
        cursor: pointer;
        height: 32px;
        line-height: 32px;
        font-family: $color;
        color: #343434;
        &:hover{
          color: #209FE9;
        }
      }
    }
  }
}
