.is-wrap-left {
  width: 360px;
  padding: 0 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  .is-wrap-left-tit {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed #DCDCDC;
    position: relative;
    .lktsTitle {
      font-size: 15px;
      margin-left: 16px;
      font-weight: bold;
      &:before {
        content: '';
        width: 4px;
        height: 14px;
        background-color: #0f73d0;
        position: absolute;
        left: 6px;
        top: 13px;
      }
    }
    .lktsIcon {
      font-size: 18px;
      float: right;
      cursor: pointer;
      &:hover {
        color: #0f73d0;
      }
    }
    .lktsName {
      color: #0f73d0;
      float: right;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  .is-wrap-left-tj {
    height: 295px;
    .is-wrap-left-tj-box {
      height: 150px;
      .is-wrap-left-tj-box-left {
        width: 170px;
        height: 100%;
        float: left;
      }
      .is-wrap-left-tj-box-right {
        width: calc(100% - 170px);
        height: 100%;
        float: right;
        .sbInfo {
          &:nth-child(1) {
            margin: 40px 0 20px 0;
          }
          span {
            &:nth-of-type(1) {
              font-size: 13px;
              color: #646464;
            }
            &:nth-of-type(2) {
              font-size: 16px;
              color: #323232;
              margin: 0 5px 0 8px;
              font-weight: bold;
            }
            &:nth-of-type(3) {
              font-size: 12px;
              color: #a0a0a0;
            }
          }
        }
      }
    }
    .is-wrap-left-tjLc-box {
      height: 150px;
      .is-wrap-left-tj-box-left {
        width: 120px;
        height: 100%;
        float: left;
        margin-left: 20px;
      }
      .is-wrap-left-tj-box-right {
        width: calc(100% - 140px);
        height: 100%;
        float: right;
        .sbInfo {
          text-align: right;
          &:nth-child(1) {
            margin: 40px 0 20px 0;
          }
          span {
            &:nth-of-type(1) {
              font-size: 13px;
              color: #646464;
            }
            &:nth-of-type(2) {
              font-size: 16px;
              color: #20a0ff;
              margin: 0 5px 0 8px;
              font-weight: bold;
            }
            &:nth-of-type(3) {
              font-size: 12px;
              color: #a0a0a0;
            }
          }
        }
      }
    }
    .is-wrap-left-line {
      height: calc(100% - 150px);
      .is-wrap-left-line-pro {
        padding: 0 20px;
        .progressBarName {
          font-size: 13px;
          color: #646464;
          span {
            color: #000000;
          }
        }
        #fgl {
          margin-top: 8px;
          .progressbar {
            margin-bottom: 0;
          }
        }
      }
      .is-wrap-left-line-info {
        height: calc(100% - 30px);
        .is-wrap-left-line-info-box {
          width: calc(100% / 2);
          height: 100%;
          float: left;
          p {
            text-align: center;
            &:nth-child(1) {
              margin: 30px 0 10px 0;
              span {
                color: #333;
                &:nth-child(1) {
                  font-weight: bold;
                  font-size: 18px;
                }
                &:nth-child(2) {
                  font-size: 16px;
                }
              }
            }
            &:nth-child(2) {
              font-size: 14px;
              color: #333;
            }
          }
        }
      }
    }
  }
  .is-wrap-left-list {
    height: calc(100% - 40px - 295px);
    overflow: hidden;
    position: relative;
    width: 100%;
    .roadDetailLefttJInfoSearch {
      height: 30px;
      width: 338px;
      border: solid 1px #e6e6e6;
      .el-input__inner {
        border: 0;
        //width: 130px;
      }
      .insZh {
        .el-input__inner {
          width: 48px !important;
          padding: 0 !important;
          padding-left: 10px !important;
        }
      }
      .el-input {
        width: auto;
      }
      .el-form-item__content {
        margin-left: 0 !important;
        line-height: 0;
      }
      .el-select {
        &:after {
          content: '';
          width: 1px;
          height: 20px;
          background-color: #e1e1e1;
          position: absolute;
          top: 5px;
          left: 135px;
        }
      }
      .el-form-item {
        &:nth-of-type(1) {
          width: 135px;
        }
        &:nth-of-type(2) {
          width: calc(100% - 172px);
          float: right;
        }
      }
      .el-form--inline .el-form-item {
        float: none;
        margin: 0;
      }
      .el-form-item__label {
        font-size: 12px;
        color: #323232;
      }
      .lktsSearch {
        float: right;
        margin: 6px 10px 0 0;
      }
    }
    .roadDetailLeftList {
      height: calc(100% - 40px);
    }
    .roadDetailLeftListPage {
      height: 40px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
  .noData {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    line-height: 100px;
    text-align: center;
    color: #000;
  }
  .el-loading-mask {
    background: rgba(255, 255, 255, 0.92) !important;
  }
}
