.dynamic-monitoring-weather-left-wrap{
  width: 360px;
  height: 100%;
  .dynamic-monitoring-weather-left-wrap-level{
    width: 100%;
    height: 190px;
    .dynamic-monitoring-weather-left-wrap-level-left{
      width: 173px;
      height: 100%;
      float: left;
    }
    .dynamic-monitoring-weather-left-wrap-level-right{
      width: calc(100% - 173px);
      height: 100px;
      float: left;
      ul {
        margin-top: 15px;
        height: 132px;
        .dynamic-monitoring-weather-left-wrap-level-right-normal{
          height: 40px;
          font-family: '微软雅黑';
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: 0px;
          color: #323232;
          .dynamic-monitoring-weather-left-wrap-level-label{
            font-family: ﻿MicrosoftYaHei;
            font-size: 13px;
            font-weight: normal;
            letter-spacing: 0px;
            color: #646464;
          }
          .dynamic-monitoring-weather-left-wrap-level-value{
            width: 100px;
            display: inline-block;
            text-align: right;
            font-family: ﻿PingFang-SC-Regular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 40px;
            letter-spacing: 0px;
            color: #323232;
            margin-right: 5px;
          }
        }
        .dynamic-monitoring-weather-left-wrap-level-unit{
          width: 23px;
          height: 132px;
          font-family: ﻿SimSun;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: 0px;
          color: #a0a0a0;
        }
        .dynamic-monitoring-weather-left-wrap-level-right-yz{
          height: 40px;
          letter-spacing: 0px;
          font-family: ﻿PingFang-SC-Regular;
          font-size: 18px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 40px;
          letter-spacing: 0px;
          .dynamic-monitoring-weather-left-wrap-level-label{
            font-family: ﻿PingFang-SC-Regular;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 40px;
            letter-spacing: 0px;
            color: #323232;
          }
          .dynamic-monitoring-weather-left-wrap-level-value{
            width: 97px;
            display: inline-block;
            text-align: right;
            font-family: ﻿PingFang-SC-Regular;
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 40px;
            letter-spacing: 0px;
            color: #ff0402;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .dynamic-monitoring-weather-left-wrap-type{
    width: 100%;
    height: calc(100% - 42px - 190px);
    .dynamic-monitoring-weather-left-wrap-type-item{
      width: 340px;
      height: 40px;
      background-color: rgba(247, 247, 247, 1);
      border: solid 1px rgba(230, 230, 230, 1);
      margin: auto;
      ul{
        width: 100%;
        padding: 5px;
        overflow: hidden;
        li{
          width: calc(100% / 4);
          line-height: 30px;
          cursor: pointer;
          float: left;
          text-align: center;
          color: #959595;
        }
        .activeStyle{
          background: #32ACF7;
          span{
            color: #fff;
          }
        }
      }
    }
    .dynamic-monitoring-weather-left-wrap-type-condition{
      width: 340px;
      height: 30px;
      border: solid 1px rgba(230, 230, 230, 1);
      margin: 10px auto 0;
      .el-input__inner{
        border: 0;
        //width: 130px;
      }
      .insZh{
        .el-input__inner{
          width: 36px!important;
          padding: 0!important;
          padding-left: 10px!important;
        }
      }
      .el-input{
        width: auto;
      }
      .el-form-item__content{
        margin-left: 0!important;
        line-height: 0;
      }
      .el-select{
        &:after{
          content: '';
          width: 1px;
          height: 20px;
          background-color: #e1e1e1;
          position: absolute;
          top: 5px;
          left: 135px;
        }
      }
      .el-form-item{
        &:nth-of-type(1){
          width: 135px;
        }
        &:nth-of-type(2){
          width: calc(100% - 172px);
          float: right;
        }
      }
      .el-form--inline .el-form-item{
        float: none;
        margin: 0;
      }
      .el-form-item__label{
        font-size: 12px;
        color: #323232;
      }
      .lktsSearch{
        float: right;
        margin: 6px 10px 0 0;
        cursor: pointer;
      }
    }
    .weatherLeftList{
      width: 100%;
      height: calc(100% - 40px);
      position: relative;
      .roadDetailLeftListPage{
        width: 100%;
        height: 40px;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        .el-pagination{
          text-align: center;
        }
      }
      .noData{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        line-height: 100px;
        text-align: center;
        color: #000;
      }
    }
    .el-loading-mask{
      background: rgba(255,255,255,0.9)!important;
    }
  }
}
