.list {
  width: 100%;
  height: 100%;
  ul {
    height: 100%;
    width: calc(100% + 30px);
    overflow-y: auto;
    overflow-x: hidden;
    li {
      position: relative;
      width: calc(100% - 25px);
      height: 75px;
      .l-color {
        background: url("../../../static/images/warn/marker.png") no-repeat;
        min-width: 20px;
        min-height: 30px;
        text-align: center;
        display: block;
        float: left;
        font-family: ArialMT;
        font-size: 13px;
        line-height: 20px;
        color: #ffffff;
        margin-top: 6px;
        margin-left: 10px;
      }

      .l-content {
        width: calc(100% - 42px);
        float: left;
        margin-left: 3px;
        div:nth-child(1) {
          font-family: PingFang-SC-Regular;
          font-size: 11px;
          line-height: 28px;
          color: #000000;
          height: 28px;
          font-weight: 500;
          span {
            font-size: 10px;
          }
        }
        div:nth-child(2), div:nth-child(3) {
          font-family: SimSun;
          font-size: 11px;
          line-height: 20px;
          color: #787878;
        }
      }
      &:hover {
        cursor: pointer;
        background-color: #f3f3f3;
        .tools {
          display: block;
        }
        .l-color {
          background: url("../../../static/images/warn/marker_hover.png") no-repeat;
        }
      }
      .tools {
        display: none;
        position: absolute;
        right: 0;
        bottom: 12px;
        color: #20a0ff;
        span:last-child {
          margin-right: 18px;
        }
        span {
          font-size: 14px;
          margin-right: 15px;
        }
      }
    }
  }
}
