.dialog_warp {
  color: black; 
 .el-form{
    @media screen and (max-width: 1280px) {
        .el-form-item {
            width: 33.333%!important;
          }
        }
        @media (min-width: 1280px)and (max-width: 1920px) {
        .el-form-item {
              width: 25%!important;
            }
       
        }
        @media screen and (min-width: 1920px) {
        .el-form-item {
              width: 20%!important;
            }
        }
 }
}
